package $!{packagePath};

/**
 * $!{tableInfo.desc}
 *
 * @author code auto generator
 * @date $!{date}
 */
import java.io.Serializable;
#foreach($pck in $tableInfo.importPackage)
    $!{pck}
#end


#foreach($annotation in $tableInfo.annotations)
    $!{annotation}
#end
public class $!{tableInfo.entityName} implements Serializable {

#foreach($column in $tableInfo.columns)
    #if(${column.desc})
    /**
     * $!{column.desc}
     */
    #end
    #if(${column.annotations})
        #foreach($annotation in $column.annotations)
            $!{annotation}
        #end
    #end
private $!{column.type}  $!{column.name};

#end
}
